.pagination-container {
    position: relative !important;
    top: auto !important;
    bottom: 0 !important;
    margin-top: 20px;
    display: block !important;
}

.pagination-container {

    height: auto !important;
}

.table {
    table-layout: fixed;
}

.col-id {
    width: 5%;
}

.col-nombre {
    width: 15%;
}

.col-descripcion {
    width: 40%;
}

.col-marca {
    width: 15%;
}

.col-acciones {
    width: 25%;
    white-space: nowrap;
}

.col-acciones .btn {
    margin-bottom: 0;
}