.pagination-container {
    position: relative !important;
    top: auto !important;
    bottom: 0 !important;
    margin-top: 20px;
    display: block !important;
}

.pagination-container {

    height: auto !important;
}

.table {
    table-layout: fixed;
}